<!-- -*- mode: XML -*- -->


<launch>

 <arg name="imxCam" default="true"/>
 <arg name="ethNode" default="true"/>
 <arg name="vectornav" default="false" />

 <!-- Optional RealSense RGB-D sensor-->
 <arg name="realsense" default="false"/>

  <!-- Launch Camera -->

  <group if="$(arg imxCam)">    
    <node pkg="flea3" type="flea3_single_node" name="camera" output="screen" launch-prefix="nice -n -15">
      <param name="identifier" type="string" value="15420595"/>
      <param name="frame_id" type="string" value="camera"/>
      <param name="camera_name" type="string" value="camera"/>

      <param name="fps" type="double" value="30"/>
      <param name="video_mode" type="int" value="23"/>
      <param name="format7_mode" type="int" value="4"/>
      <param name="pixel_format" type="int" value="27"/>
      <param name="exposure" type="bool" value="true"/>
      <param name="auto_exposure" type="bool" value="true"/>
      <param name="auto_shutter" type="bool" value="false"/>
      <param name="shutter_ms" type="double" value="5"/>
      <param name="auto_gain" type="bool" value="false"/>
      <param name="gain_db" type="double" value="18"/>
      <param name="white_balance" type="bool" value="true"/>
      <param name="auto_white_balance" type="bool" value="true"/>
      <param name="brightness" type="double" value="4"/>
      
	  <!-- medium resolution -->
      <param name="width" type="int" value="960"/>
      <param name="height" type="int" value="500"/>

	  <!-- high resolution -->
      <!-- <param name="width" type="int" value="1920"/>
      <param name="height" type="int" value="1200"/> -->

      <param name="trigger_source" type="int" value="-1"/>
      <param name="trigger_polarity" type="int" value="0"/>
      <param name="strobe_control" type="int" value="-1"/>
      <param name="strobe_polarity" type="int" value="0"/>
    </node>
  </group>


  <!-- Launch IMU -->
  <group if="$(arg vectornav)">
    <node pkg="imu_vn_100" type="imu_vn_100_node" name="imu" output="screen">
    <remap from="/imu/imu" to="/imu/data" />
      <param name="baudrate" type="int" value="921600"/>
      <param name="frame_id" type="string" value="imu"/>
      <param name="imu_rate" type="int" value="200"/>
      <param name="binary_output" type="bool" value="true"/>
      <param name="binary_async_mode" type="int" value="1"/>
      <param name="imu_compensated" type="bool" value="false" />

      <param name="enable_mag" type="bool" value="false"/>
      <param name="enable_pres" type="bool" value="false"/>
      <param name="enable_temp" type="bool" value="false"/>
      <param name="enable_rpy" type="bool" value="false"/>

      <param name="sync_rate" type="int" value="200" />
      <param name="sync_pulse_width_us" type="int" value="1000" />

      <param name="vpe/enable" type="bool" value="false" />
      <param name="vpe/heading_mode" type="int" value="1" />
      <param name="vpe/filtering_mode" type="int" value="0" />
      <param name="vpe/tuning_mode" type="int" value="0" />
    </node>
  </group>


  <!-- Launch IMU -->
  <group if="$(arg ethNode)">
    <node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" launch-prefix="nice -n -15">
      <param name="frame_id" value="/imu" />
      <param name="timeout" value="0.002" />
      <param name="baudrate" value="921600" />
    </node>
  </group>

  <!-- Launch RealSense RGB-D -->
  <group if="$(arg realsense)">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <!-- Make sure enable_sync and align_depth are set in rs_camera.launch -->
  </group>

</launch>

